<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Load AngularJS FIRST (only once) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <!-- Load ngTable (use either CDN or local, not both) -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/3.0.1/ng-table.js"></script> -->
    <!-- OR if using local: -->
    <script src="/js/ng-table.js"></script>
    
    <!-- Include header (AFTER scripts to prevent duplicate loading) -->
    <th:block th:include="fragments/header :: header"></th:block>
</head>

<body ng-app="mainApp">
    <div id="cover" style="display: none;"></div>
    <div class="page-content">
        <div class="content-wrapper">
            <th:block th:include="fragments/page_header :: page_header"></th:block>
            
            <section class="bg-light" style="background: #fff !important; padding: 60px 0 0 0 !important;">
                <div class="container">
                    <div class="row">
                        <div class="content" ui-view=""></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

<!--     <h1 style="text-align: center;">This is Version 2!</h1> -->

    <div ng-controller="chatbot-controller">
        <th:block th:include="fragments/chatbot :: chatbot"></th:block>
    </div>

    <!-- Include footer -->
    <th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
