<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-app="mainApp">
<head>
    <th:block th:include="fragments/header :: header"></th:block>

    <!-- AngularJS from your static directory -->
    <script th:src="@{/js/angular.js}"></script>
    <!-- Dependencies -->
    <script th:src="@{/js/angular-route.js}"></script> <!-- If you have this locally, else use CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.30/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <!-- Your mainApp.js -->
    <script th:src="@{/js/mainApp.js}"></script>
</head>
<body>
    <div id="cover" style="display: none;"></div>
    <div class="page-content">
        <div class="content-wrapper">
            <th:block th:include="fragments/page_header :: page_header"></th:block>

            <section class="bg-light" style="background: #fff !important; padding: 60px 0 0 0 !important;">
                <div class="container">
                    <div class="row">
                        <div class="content" ui-view=""></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <h1 style="text-align: center;">This is Version 2!</h1>

    <div ng-controller="chatbot-controller">
        <th:block th:include="fragments/chatbot :: chatbot"></th:block>
    </div>

    <th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
