<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<!-- Include header (ensure AngularJS loads FIRST) -->
<th:block th:include="fragments/header :: header"></th:block>

<!-- Load ngTable AFTER AngularJS -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/3.0.1/ng-table.min.js"></script> -->
<script src="/js/ng-table.js"></script>
<body ng-app="mainApp">
    <div id="cover" style="display: none;"></div>
    <div class="page-content">
        <div class="content-wrapper">
            <th:block th:include="fragments/page_header :: page_header"></th:block>
            
            <section class="bg-light" style="background: #fff !important; padding: 60px 0 0 0 !important;">
                <div class="container">
                    <div class="row">
                        <div class="content" ui-view=""></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <h1 style="text-align: center;">This is Version 1!</h1>

    <div ng-controller="chatbot-controller">
        <th:block th:include="fragments/chatbot :: chatbot"></th:block>
    </div>

    <!-- Include footer -->
    <th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>

